.body{
    overflow-x: hidden;
}
.paragraph1{
    overflow-x: hidden;
    position: relative;
    text-align: left;
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1e2d24;
    width: 30vw;
    color: #dedede;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    font-size: 3vw;
    max-height: 60vh;
    padding: 30px;
    border-radius: 40px;
    transition: all 1s ease;
    transition-delay: 0.2s;
}

.paragraph1:hover{
    transition: all .4s ease;
    transition-delay: 0.2s;
    color: #1e2d24;
    background-color: #F9B4ED;
}
.cards {
    display: flex;
    justify-content: space-between;
    
 }
 
 .card1 {
    overflow-x: hidden;
    position: relative;
    text-align: center;
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1e2d24;
    width: 25vw;
    color: #dedede;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    font-size: 2vw;
    max-height: 60vh;
    padding: 30px;
    border-radius: 40px;
    transition: all 1s ease;
    transition-delay: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }
.card2{
 overflow-x: hidden;
 position: relative;
 text-align: center;
 display: flexbox;
 flex-direction: row;
 justify-content: space-between;
 background-color: #1e2d24;
 width: 40vw;
 color: #dedede;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 3vh;
 font-size: 3vw;
 max-height: 60vh;
 padding: 30px;
 border-radius: 40px;
 transition: all 1s ease;
 transition-delay: 0.2s;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card3{
background-image: url('pfp.jpg');
border-radius: 40px;
overflow-x: hidden;
position: relative;
width: 20vw;
color: #dedede;
max-height: 20vw;
transition: all 1s ease;
transition-delay: 0.2s;
background-position: center;
background-repeat: no;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}